@page "/ingredients"
@using EkoRestaurant.Services
@using EkoRestaurant.Data
@inject IngredientsService IngredientsService
@inject IngredientCategoriesService IngredientCategoriesService
@inject ISnackbar Snackbar
@inject IDialogService DialogService

<div class="page-title">Ingredients</div>

<div style="display: flex; flex-direction: row">
    <div class="flex-column">
        <div class="data-grid-categories-title"><MudIcon Icon="@Icons.Material.Filled.StarRate"></MudIcon>Catégories</div>

        @if (IngredientCategories.Count > 0)
        {
            @foreach (IngredientCategory category in IngredientCategories)
            {
                <button @onclick="() => SelectCategoryInSideBar(category)">
                    <IngredientCategorySideBar Category="@category"/>
                </button>
            }
        }
        <MudFab Class="ma-2" Color="Color.Primary" Icon="@Icons.Material.Filled.ShoppingCart" IconSize="Size.Small" Label="Nouvelle catégorie" OnClick="@OpenIngredientCategoryDialog" Size="Size.Small"/>
    </div>
    <div>
        <MudFab Icon="@Icons.Material.Filled.Navigation" Label="Navigation" OnClick="@OpenAddIngredientDialog"/>
        <GridIngredient ParentCategory="@SelectedCategory"></GridIngredient>
    </div>

</div>


@code {
    public Ingredient IngredientToAdd { get; set; } = new();
    public IngredientCategory CategoryToAdd { get; set; } = new();

    public List<IngredientCategory> IngredientCategories = new();

    public IngredientCategory SelectedCategory { get; set; }


    protected override async Task OnInitializedAsync()
    {
        IngredientCategories = IngredientCategoriesService.Filter().ToList();
    }

    public void SelectCategoryInSideBar(IngredientCategory category)
    {
        SelectedCategory = category;
    }

    public async Task OpenIngredientCategoryDialog()
    {
        var parameters = new DialogParameters();
        parameters.Add("Category", CategoryToAdd);

        var dialog = DialogService.Show<DialogEditCreateIngredientCategory>("Simple Dialog", parameters);
        var result = await dialog.Result;
        if (!result.Cancelled)
        {
            var res = (IngredientCategory) result.Data;
            IngredientCategoriesService.Create(res);
            IngredientCategoriesService.SaveChanges();
        }
    }

    public async Task OpenAddIngredientDialog()
    {
        var dialog = DialogService.Show<DialogEditCreateIngredient>("Simple Dialog");
        var result = await dialog.Result;
        if (!result.Cancelled)
        {
            var res = (Ingredient) result.Data;
            IngredientsService.Create(res);
            IngredientsService.SaveChanges();
        }
    }

}