@page "/recipes/{Id:int}"
@using EkoRestaurant.Services
@using EkoRestaurant.Data
@using EkoRestaurant.Extensions
@inject RecipesService RecipesService
@inject RecipeCategoriesService RecipeCategoriesService
@inject RecipeIngredientQuantitiesService RecipeIngredientQuantitiesService
@inject IngredientsService IngredientsService
@inject ISnackbar Snackbar
@inject IDialogService Dialogservice
@inject NavigationManager NavigationManager
@attribute [Authorize]

<MudGrid>
    <MudItem xs="12">
        <div class="page-title dark-color">Recettes</div>
        <div class="h2-quicksand dark-color">@CurrentRecipe.Name</div>
    </MudItem>
    <MudItem xs="12">
        <MudChip Style="width: max-content;" Color="Color.Primary" Variant="Variant.Outlined" Class="chip-category-recipe">@CurrentRecipe.Category.Name</MudChip>
        <MudButton Style="float: left; margin-left: 10px" Class="btn-mud-white-bg-rounded h6-quicksand" OnClick="@EditRecipe" Variant="Variant.Filled"><img src="Images/EditGradient.svg" style="margin-right: 5px">Editer</MudButton>
        <MudButton Style="float: left; margin-left: 10px" Class="btn-mud-white-bg-rounded h6-quicksand" OnClick="@DeleteRecipe" Variant="Variant.Filled"><img src="Images/gradient-bin.svg" style="margin-right: 5px">Supprimer</MudButton>
    </MudItem>
    <MudItem xs="4">
        <MudCard Elevation="4" Class="rounded-card">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText>Prix</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <MudText Class="details-grid-content dark-color">@CurrentRecipe.Price CHF</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem xs="4">
        <MudCard Elevation="4" Class="rounded-card">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText>Temps de préparation</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <MudText Class="details-grid-content dark-color">@CurrentRecipe.PreparationTimeMinutes minutes</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem xs="4">
        <MudCard Elevation="4" Class="rounded-card">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText>Coûts des ingrédients</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <MudText Class="details-grid-content dark-color">@CurrentRecipe.GetIngredientPrice() CHF</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem xs="4">
        <MudCard Elevation="4" Class="rounded-card">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText>Assez d'ingrédients en stock</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
            @if (CurrentRecipe.CanBeProduced())
            {

                <MudText Class="details-grid-content dark-color" Color="Color.Success">@CurrentRecipe.CanBeProduced().BooleanToFrench()</MudText>
            }
            else
            {
                <MudText Class="details-grid-content dark-color" Color="Color.Error">@CurrentRecipe.CanBeProduced().BooleanToFrench()</MudText>
            }
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem xs="8">
        <MudCard Elevation="4" Class="rounded-card">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText>Description</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <MudText Class="details-grid-content dark-color">@CurrentRecipe.Description</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem xs="3">
        <MudCard Elevation="4" Class="rounded-card">
            <MudCardContent>
                <MudText>Vegan friendly</MudText>
                @if (CurrentRecipe.IsVeganFriendly())
                {
                    <MudText Class="details-grid-content" Color="Color.Success">@CurrentRecipe.IsVeganFriendly().BooleanToFrench()</MudText>
                }
                else
                {
                    <MudText Class="details-grid-content" Color="Color.Error">@CurrentRecipe.IsVeganFriendly().BooleanToFrench()</MudText>
                }
            </MudCardContent>
        </MudCard>
    </MudItem>

    <MudItem xs="3">
        <MudCard Elevation="4" Class="rounded-card">
            <MudCardContent>
                <MudText>Arachides free</MudText>
                @if (CurrentRecipe.IsArachidesFree())
                {
                    <MudText Class="details-grid-content" Color="Color.Success">@CurrentRecipe.IsArachidesFree().BooleanToFrench()</MudText>
                }
                else
                {
                    <MudText Class="details-grid-content" Color="Color.Error">@CurrentRecipe.IsArachidesFree().BooleanToFrench()</MudText>
                }
            </MudCardContent>
        </MudCard>
    </MudItem>

    <MudItem xs="3">
        <MudCard Elevation="4" Class="rounded-card">
            <MudCardContent>
                <MudText>Lactoses free</MudText>
                @if (CurrentRecipe.IsLactoseFree())
                {
                    <MudText Class="details-grid-content" Color="Color.Success">@CurrentRecipe.IsLactoseFree().BooleanToFrench()</MudText>
                }
                else
                {
                    <MudText Class="details-grid-content" Color="Color.Error">@CurrentRecipe.IsLactoseFree().BooleanToFrench()</MudText>
                }
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem xs="12">
        <MudCard Elevation="4" Class="rounded-card">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText>Liste d'ingrédient</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <MudTable T="RecipeIngredientQuantity" Items="@CurrentRecipe.IngredientQuantities" Hover="true" OnRowClick="@ClickedRow">
                    <HeaderContent>
                        <MudTh>Ingrédient</MudTh>
                        <MudTh>Quantité</MudTh>
                        <MudTh>Stock</MudTh>
                        <MudTh>Prix</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="Ingrédient">@context.Ingredient.Name</MudTd>
                        <MudTd DataLabel="Quantité">@context.Quantity @context.Ingredient.UnitSuffix</MudTd>
                        <MudTd DataLabel="Stock">@context.Ingredient.UnitInStock @context.Ingredient.UnitSuffix</MudTd>
                        <MudTd DataLabel="Prix">@(context.Ingredient.UnitPrice * context.Quantity) CHF</MudTd>
                    </RowTemplate>
                </MudTable>
            </MudCardContent>
        </MudCard>
    </MudItem>
</MudGrid>

@code {

    [Parameter]
    public int Id { get; set; }

    public List<Ingredient> Ingredients = new();

    public Recipe CurrentRecipe { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Ingredients = IngredientsService.Filter().ToList();
        await getData();
    }

    private async Task getData()
    {
        CurrentRecipe = RecipesService.GetByIdWithIngredients(Id);

        if (CurrentRecipe.CategoryId != 0 && CurrentRecipe.Category == null && CurrentRecipe.CategoryId != null)
        {
            CurrentRecipe.Category = RecipeCategoriesService.GetById((int) CurrentRecipe.CategoryId);
        }
    }

    private void EditRecipe()
    {
        NavigationManager.NavigateTo($"/recipes/edit/{CurrentRecipe.Id}");
    }

    private void DeleteRecipe()
    {
        while (CurrentRecipe.IngredientQuantities.Count > 0)
        {
            RecipeIngredientQuantitiesService.Delete(CurrentRecipe.IngredientQuantities.ElementAt(0));
            RecipeIngredientQuantitiesService.SaveChanges();
        }
        RecipesService.Delete(CurrentRecipe);
        RecipesService.SaveChanges();
        Snackbar.Add("Supression effectuée avec succès", Severity.Success);
        NavigationManager.NavigateTo("/recipes");
    }

    public void ClickedRow(TableRowClickEventArgs<RecipeIngredientQuantity> clickEvent)
    {
        NavigationManager.NavigateTo($"/ingredients/{clickEvent.Item.Ingredient.Id}");
    }

}