

@* <MudNavMenu Class="mud-width-full"> *@
@*     <MudNavLink Class="mt-2" Href="/index" Icon="@Icons.Filled.Home">Dashboard</MudNavLink> *@
@*     <MudNavLink Href="/ingredients" Icon="@Icons.Filled.ShoppingBasket">Stocks</MudNavLink> *@
@*     <MudNavLink Href="/recipes" Icon="@Icons.Custom.FileFormats.FileDocument" Disabled="true">Recettes</MudNavLink> *@
@* </MudNavMenu> *@

<div class="">
    <ul class="sidebar">
        <hr>
        <li >
            <NavLink>
                <text class="nav-item-text">
                    <a class="a_personal" style="text-underline-mode: false" href="/"> <MudIcon Class="nav-item-icon-color" Style="margin-right: 5px; margin-left: 50px;" Icon="@Icons.Rounded.Home" Size="Size.Medium" />
                        Caisse </a>

                </text>
            </NavLink>
        </li>
        <hr>
        <li >
            <NavLink>
                <text class="nav-item-text">
                    <a class="a_personal" href="/ingredients" > <MudIcon Class="nav-item-icon-color" Icon="@Icons.Rounded.ShoppingBasket" Style="margin-right: 5px; margin-left: 50px;" Size="Size.Medium" />
                        Stocks</a>

                </text>
            </NavLink>
        </li>
        <hr>
        <li>
            <NavLink>
                <text class="nav-item-text">
                    <a  class="a_personal" href="/">  <MudIcon Class="nav-item-icon-color" Icon="@Icons.Rounded.FormatListBulleted"  Style="margin-right: 5px; margin-left: 50px;" Size="Size.Medium" />
                        Recette</a>

                </text>
            </NavLink>
        </li>
        <hr>
        <li>
            
            <NavLink>
                <text class="nav-item-text">
                    <a class="a_personal" href="/listedescourses"> <MudIcon Class="nav-item-icon-color" Icon="@Icons.Rounded.FormatListBulleted" Style="margin-right: 5px; margin-left: 50px;" Size="Size.Medium"/>
                        Liste des courses</a>

                </text>
            </NavLink>
        </li>
        <hr>
    </ul>
    <div class="vl"></div>
</div>

@code {
}